<template name='content'>
	
	<div class='row page-body'>
		
		<div class='col-md-5 col-md-offset-1'>
			
			<h1>When Go?</h1>
			<p>
				WhenGo is a tool that lets you easily search through average temperateure
				data from airport weather stations around the world.
			</p>
			
			<h1>About the Data</h1>
			<p>
				The data is calculated using the average monthly temperature over the past
				10 years.
			</p>
			
		</div>
		
		<div class='col-md-5'>
			<div class='well'>
				
				{{> settings }}
				
			</div>
		</div>
		
		<div class='col-md-12 site-footer'>
			Built by <a href='http://crath.com'>Crath</a> &minus;
			&copy; 2015 whengo.io &minus;
			<a href='mailto:hello@crath.com' target='_blank'>Contact Us</a>
		</div>
		
	</div>
	
</template>

