<template name='homepage'>
	<div class='row'>
		<div class='col-md-5 col-md-offset-1'>
			
			<h1>When Go?</h1>
			<p></p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies odio libero, sed volutpat orci blandit ut. Nulla sit amet auctor justo. Duis ut arcu orci. Vivamus id sagittis mi. Suspendisse lectus tellus, mollis finibus lectus venenatis, sollicitudin bibendum dolor. Aliquam ut molestie leo. Maecenas vel quam purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed vitae lectus orci. Maecenas sit amet mauris ligula. In efficitur pellentesque bibendum. Pellentesque ligula lectus, congue eu mi sit amet, accumsan ultricies lacus.</p>
			
		</div>
		<div class='col-md-5'>
			Share on [Facebook] and [Twitter]
		</div>
	</div>
</template>

