<template name='mapView'>
	<div class='col-md-12'>
		
		<div id='mapContainer'></div>
		
		{{#if gt stationCount '500'}}
			<div class='too-many-results'>
				<div class='alert alert-warning'><strong>Warning</strong>: Your query is returning more than 500 weather stations. Tighten your temperature range or zoom in on the map to see all results.</div>
			</div>
		{{/if}}
		
		<div class='status-line'>
			<b>{{ prettyNum stationCount }}</b> weather stations report an average temperature of between <b>{{{ minTemp }}}</b> and <b>{{{ maxTemp }}}</b> for the month of <b>{{ monthName }}</b>
		</div>
		
	</div>
</template>

