<template name='mapView'>
	<div class='col-md-12 map-area'>
		
		<div id='mapContainer'></div>
		
		<div class='status-line'>
			<b>{{ prettyNum stationCount }}{{#if gte stationCount renderLimit }}+{{/if}}</b> of {{ prettyNum totalStationCount }} weather stations report an average temperature of between <b>{{{ minTemp }}}</b> and <b>{{{ maxTemp }}}</b> for the month of <b>{{ monthName }}</b>
		</div>
		
		{{#if gte stationCount renderLimit }}
			<div class='alert alert-warning'>
				<strong>Heads Up</strong>: Only showing {{ renderLimit }} results. Update your settings below.
			</div>
		{{/if}}		
		
		{{#if gte stationCount '500' }}
			<div class='alert alert-info'>
				<strong>Tip</strong>: Since there are so many results, drawing the pins on the map takes some time. You can reduce the number of results by narrowing your temperature range, or by zooming in on the map.
			</div>
		{{/if}}
	
		
	</div>
</template>

