<template name='pageBody'>
	<div class='row page-body'>
		<div class='col-md-5 col-md-offset-1'>
			
			<h1>When Go?</h1>
			<p>When Go is a tool that allows you to easily search through average temperateure data from weather stations around the world per month.</p>
			
			<h1>Full Access</h1>
			<p>Upgrade your account for a one time fee of $5 to unlock over 7,200 weather stations and expanded filtering capabilities.</p>
			
			<h1>About the Data</h1>
			<p>The data is provided by the <a href='http://www.noaa.gov'>National Oceanic and Atmospheric Administration</a> and is calculated using the average monthly temperature over the past 10 years.</p>
			
		</div>
		<div class='col-md-5'>
			<div class='well'>
				
				<div class='pull-right'>
					{{#unless currentUser.profile.upgraded }}<a class='btn btn-sm btn-primary' data-action='upgrade'>Upgrade Account &minus; &#36;5 for life</a>{{/unless}}
					{{#if currentUser.profile.upgraded }}<em>Thanks for upgrading!</em>{{/if}}
				</div>
				
				<h1>Settings</h1>
				
				<form class='form-horizontal'>
					
					<div class='form-group'>
						<label class='control-label col-md-4'>Units</label>
						<div class='col-md-8'>
							<div class='btn-group' role='group'>
								<a href='#' class='btn btn-default {{#if equals unit 'C' }} disabled {{/if}}' data-unit='C' data-field='unit'>Celcius</a>
								<a href='#' class='btn btn-default {{#if equals unit 'F' }} disabled {{/if}}' data-unit='F' data-field='unit'>Fahrenheit</a>
							</div>
						</div>
					</div>
					
					<div class='form-group'>
						<label class='control-label col-md-4'>Data Set</label>
						<div class='col-md-8'>
							<select class='form-control' data-field='minPopulation'>
								<option value='1000000'>All cities, population > 1 MM</option>
								<option value='100000'>All cities, population > 100 K</option>
								<option value='0'>All cities</option>
							</select>
						</div>
					</div>
					
					<div class='form-group'>
						<label class='control-label col-md-4'>Render Limit</label>
						<div class='col-md-8'>
							<select class='form-control' data-field='renderLimit'>
								<option value='250'>Show up to 250 stations</option>
								<option value='500'>Show up to 500 stations</option>
								<option value='25000'>Show all stations (slow)</option>
							</select>
						</div>
					</div>
					
				</form>
				
			</div>
		</div>
	</div>
</template>

