<template name='pageBody'>
	<div class='row page-body'>
		<div class='col-md-5 col-md-offset-1'>
			
			<h1>When Go?</h1>
			<p></p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies odio libero, sed volutpat orci blandit ut. Nulla sit amet auctor justo. Duis ut arcu orci. Vivamus id sagittis mi. Suspendisse lectus tellus, mollis finibus lectus venenatis, sollicitudin bibendum dolor. Aliquam ut molestie leo. Maecenas vel quam purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed vitae lectus orci. Maecenas sit amet mauris ligula. In efficitur pellentesque bibendum. Pellentesque ligula lectus, congue eu mi sit amet, accumsan ultricies lacus.</p>
			
		</div>
		<div class='col-md-5'>
			<div class='well'>
				
				<h1>Settings</h1>
				
				<form class='form-horizontal'>
					
					<div class='form-group'>
						<label class='control-label col-md-4'>Units</label>
						<div class='col-md-8'>
							<div class='btn-group' role='group'>
								<a href='#' class='btn {{#if equals unit 'C' }} btn-primary {{else}} btn-default {{/if}}' data-unit='C' data-field='unit'>Celcius</a>
								<a href='#' class='btn {{#if equals unit 'F' }} btn-primary {{else}} btn-default {{/if}}' data-unit='F' data-field='unit'>Fahrenheit</a>
							</div>
						</div>
					</div>
					
					<div class='form-group'>
						<label class='control-label col-md-4'>Data Set</label>
						<div class='col-md-8'>
							<select class='form-control' data-field='minPopulation'>
								<option value='1000000'>All cities, population > 1 MM</option>
								<option value='100000'>All cities, population > 100 K</option>
								<option value='0'>All cities (slow)</option>
							</select>
						</div>
					</div>
					
					<div class='form-group'>
						<label class='control-label col-md-4'>Render Limit</label>
						<div class='col-md-8'>
							<select class='form-control' data-field='renderLimit'>
								<option value='250'>Show up to 250 stations</option>
								<option value='500'>Show up to 500 stations</option>
								<option value='25000'>Show all stations (slow)</option>
							</select>
						</div>
					</div>
					
				</form>
				
			</div>
		</div>
	</div>
</template>

