<template name='paymentModal'>
	<div class='modal fade modal-payment'>
		<div class='modal-dialog'>
			<div class='modal-content'>

				<div class='modal-header'>
					<button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
					<h4 class='modal-title'>Upgrade Your Account</h4>
				</div>

				<div class='modal-body'>
					
					<p>Please enter your payment information to complete your account upgrade</p>
					
					<form class='form'>
						
						<div class='row'>
							
							<div class='col-md-12'>
								<div class='form-group'>
									<label class='control-label'>Card Number</label>
									<input type='text' class='form-control' data-field='ccNum' placeholder='• • • •   • • • •   • • • •   • • • •'/>
								</div>
							</div>
						</div>
						
						<div class='row'>
							
							<div class='col-md-4'>
								<div class='form-group'>
									<label class='control-label'>Exp Month</label>
									<input type='text' class='form-control' data-field='ccExpMonth' placeholder='MM' maxlength='2'/>
								</div>
							</div>
							
							<div class='col-md-4'>
								<div class='form-group'>
									<label class='control-label'>Exp Year</label>
									<input type='text' class='form-control' data-field='ccExpYear' placeholder='YYYY' maxlength='4'/>
								</div>
							</div>
							
							<div class='col-md-4'>
								<div class='form-group'>
									<label class='control-label'>Security Code</label>
									<input type='text' class='form-control' data-field='ccCvc' placeholder='CVC' maxlength='4'/>
								</div>
							</div>
							
						</div>
						
					</form>
					
					<p><em><strong>Notice</strong>: Payment information is processed by <a href='https://stripe.com' target='_blank'>Stripe</a> and is never sent to our servers</em></p>
					
				</div>

				<div class='modal-footer'>
					<button type='button' class='btn btn-default' data-dismiss='modal'>Cancel</button>
					<button type='button' class='btn btn-primary' data-action='pay'>Process Payment</button>
				</div>

			</div>
		</div>
	</div>
</template>

