<template name='searchForm'>
	<div class='col-md-12'>
		
		<form role='form' class='form-inline searchForm'>
			
			<div class='col-md-9 sliderContainer'>
				
				<input data-field='tempRange' type='text' value='' data-slider-min='0' data-slider-max='40' data-slider-step='1' data-slider-value='[{{ minTemp }},{{ maxTemp }}]' data-slider-tooltip='hide' />
				
				<div class='pull-right'>
					<span data-label='maxTemp'></span>
					&deg;{{ unit }}
				</div>
				<div>
					<span data-label='minTemp'></span>
					&deg;{{ unit }}
				</div>
			
			</div>
			
			<div class='col-md-2'>
				<select data-field='month' class='form-control'>
					<option value='0'>January</option>
					<option value='1'>February</option>
					<option value='2'>March</option>
					<option value='3'>April</option>
					<option value='4'>May</option>
					<option value='5'>June</option>
					<option value='6'>July</option>
					<option value='7'>August</option>
					<option value='8'>September</option>
					<option value='9'>October</option>
					<option value='10'>November</option>
					<option value='11'>December</option>
				</select>
			</div>
			
			<div class='col-md-1'>
				<div class='form-group'>
					<button type='button' class='btn btn-primary'>Submit</button>
				</div>
			</div>
			
		</form>
		
	</div>
</template>

