<template name='searchForm'>
	<div class='col-md-12'>
		
		<form role='form' class='form-inline searchForm'>
			
			<div class='loadingBox {{#if equals loadedStations totalStations }}hide{{/if}}'>
				
				<div class='progress'>
					<div class='progress-bar progress-bar-striped active' role='progressbar' style='width: {{ percentLoaded }}%; transition: none;'></div>
				</div>
				
				<div class='pull-right labelText'>({{ loadedStations }}/{{ totalStations }})</div>
				<div class='labelText'>Loading: {{ percentLoaded }}%</div>
				
			</div>
			
			<div class='{{#if equals loadedStations totalStations }}{{else}}hide{{/if}} row'>
				<div class='col-md-2'>
					<select data-field='month' class='form-control'>
						<option value='0'>January</option>
						<option value='1'>February</option>
						<option value='2'>March</option>
						<option value='3'>April</option>
						<option value='4'>May</option>
						<option value='5'>June</option>
						<option value='6'>July</option>
						<option value='7'>August</option>
						<option value='8'>September</option>
						<option value='9'>October</option>
						<option value='10'>November</option>
						<option value='11'>December</option>
					</select>
					<div class='updown hidden-xs'>
						<div class='btn-group-vertical'>
							<a href='#' class='btn btn-xs btn-default' data-action='month-up'>
								<span class='glyphicon glyphicon-chevron-up'></span>
							</a>
							<a href='#' class='btn btn-xs btn-default' data-action='month-down'>
								<span class='glyphicon glyphicon-chevron-down'></span>
							</a>
						</div>
					</div>
				</div>
				
				<div class='col-md-10 sliderContainer'>
					
					<input data-field='tempRange' type='text' value='' data-slider-min='0' data-slider-max='40' data-slider-step='1' data-slider-value='[{{ minTemp }},{{ maxTemp }}]' data-slider-tooltip='hide' />
					
					<div class='pull-right'><span data-label='sliderMax'></span></div>
					<span data-label='sliderMin'></span>
				
				</div>
			</div>
			
		</form>
		
	</div>
</template>

