body {
	margin-top: 55px;
}

/* Settings dropdown */
.navbar-right .dropdown-menu {
	text-align: center;
	width: 225px;
	padding: 15px;
}

#mapContainer {
	width: 100%;
	height: 400px;
}

.too-many-results {
	margin-top: 10px;
}

/* Loading Box */
.loadingBox .progress {
	margin-bottom: 3px;
}
.loadingBox .labelText {
	font-size: 12px;
	font-weight: bold;
}

/* Search Form */
.searchForm {
	min-height: 80px;
	padding: 20px 0px;
	
	.sliderContainer {
		text-align: left;
		
		@media screen and (min-width: 768px){
			padding-left: 0px;
		}

		.slider-selection {
			background-image: linear-gradient(to bottom, #89cdef 0%, #81bfde 100%);
			background-repeat: repeat-x;
		}
	}

	.slider {
		width: 100%;
	}

	select {
		width: 100% !important;
		display: inline-block;
		
		@media screen and (min-width: 768px){
			width: 80% !important;
		}
	}
	
	.updown {
		width: 16%;
		display: inline-block;
		height: 37px;
		
		.btn-xs {
			font-size: 10px;
			line-height: 14px;
		}
	}
}

